<div class="main_div">
    {{#each products}}
        <div class="product_div">
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
            <h2>${{this.price}}</h2>
            <h5>Disponible: {{this.stock}}</h5>
            <button class="btn_ver" id="id_btn_ver">VER</button>
        </div>
    {{/each}}
    <br>
</div>