<div class="formDiv">
    <input type="text" id="idInputTitle" placeholder="Título">
    <input type="text" id="idInputDescription" placeholder="Descripción">
    <input type="text" id="idInputPrice" placeholder="Precio">
    <input type="text" id="idInputStock" placeholder="Stock">
    <input type="text" id="idInputCode" placeholder="Código único">
    
    <button class="btnAdd" id="idBtnAdd">AGREGAR</button>
</div>

<div class="mainDiv" id="idMainDiv">
    
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>